<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.slothclash.desktop.ipc.service</string>

    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>dev.slothclash.desktop</string>
    </array>

    <key>MachServices</key>
    <dict>
        <key>dev.slothclash.desktop.ipc.service</key>
        <true/>
    </dict>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/PrivilegedHelperTools/dev.slothclash.desktop.ipc.service.bundle/Contents/MacOS/sloth-clash-service</string>
    </array>

    <key>GroupName</key>
    <string>{group_name}</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
